<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246506530060-q7ip9hl3s432sgrhf3espjn86ffs7kr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246506530060-q7ip9hl3s432sgrhf3espjn86ffs7kr8</string>
	<key>API_KEY</key>
	<string>AIzaSyDtkNPspVqkfFz0EyvJ4QIuySAftzkUtIc</string>
	<key>GCM_SENDER_ID</key>
	<string>246506530060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoListFlutter</string>
	<key>PROJECT_ID</key>
	<string>todo-list-flutter-a0f23</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-flutter-a0f23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246506530060:ios:278425cc72938768d71529</string>
</dict>
</plist>